:root {
  --bg-color: #ebebeb;
  --black: #10100e;
  --grey: #9d9d9d;

  --marginDesktop: 40px;
  --marginMobile: 20px;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Pro";
  src: url("../font/NeueHaasGroteskTextPro.otf") format("opentype");
  font-weight: normal;
}

::-moz-selection {
  color: var(--black);
  background: var(--grey);
}

::selection {
  color: var(--black);
  background: var(--grey);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--black);
  font-family: "neue-haas-grotesk-text-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: calc(var(--marginDesktop) / 2);
  width: calc(100% - calc(var(--marginDesktop) * 2));
  margin: 0 var(--marginDesktop);
}

.h1Disco {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
}

h2 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
}

h3 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

span {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.p-small {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

p {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.text p {
  font-family: "neue-haas-grotesk-text", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

strong {
  font-weight: 500;
}

/*Header*/
header {
  margin-top: calc(var(--marginDesktop) / 2) !important;
  z-index: 1;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
}

.headerTitle {
  grid-column: 1 / span 3;
}

.headerLanguage {
  grid-column: 11 / span 1;
  display: flex;
  gap: 0.5rem;
}

.menuLanguage {
  display: none;
}

.headerMenu {
  grid-column: 12 / span 1;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
}

.headerIndex {
  color: var(--bg-color);
  position: absolute;
}

.headerIndex svg {
  height: 1rem;
  stroke: var(--bg-color);
}

header svg {
  height: 1rem;
  stroke: var(--black);
}

.header {
  color: var(--black);
}

.header svg {
  height: 1rem;
  stroke: var(--black);
}

/*Menu*/
.menuHeader {
  margin-top: calc(var(--marginDesktop) / 2);
  position: absolute;
}

.menu {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background-color: var(--black);
  position: fixed; /* Fix the menu to the screen */
  z-index: 100;
  color: var(--bg-color);
  opacity: 0; /* Initially hidden with opacity */
  visibility: hidden; /* Hide menu without removing it from the DOM */
  pointer-events: none; /* Disable interaction when menu is hidden */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  top: 0;
  left: 0;
  overflow: hidden; /* Prevent scrolling within the menu */
}

.menu.active {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Make visible for accessibility */
  pointer-events: auto; /* Enable interaction when menu is visible */
}

body.menu-open {
  overflow: hidden;
}

.menu svg {
  height: 0.8rem;
  stroke: var(--bg-color);
}

.menuNav {
  height: calc(var(--vh, 1vh) * 100);
  row-gap: 0;
  align-items: center;
}

.menuNav a {
  text-decoration: none;
  color: var(--bg-color);
}

.menuNav-content {
  height: calc(var(--vh, 1vh) * 100);
  font-size: 25px;
  text-transform: uppercase;
  grid-column: 3 / span 6;
  display: flex;
  gap: calc(var(--marginDesktop) / 2);
  flex-direction: column;
  justify-content: center;
}
.menuNav a {
  transform: translate(0);
  transition: transform 0.5s ease;
}
.menuNav a:hover {
  transform: translateX(20px);
  cursor: pointer;
}

/*Index*/
.landing {
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  position: relative;
  z-index: -1;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.landing img {
  /*
    width: 40%;
    height: 60%;*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  transition: all 0.5s ease;
}

.landing span {
  color: var(--bg-color);
  font-size: 80px;
  line-height: 84px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.landingTitle {
  position: absolute;
  bottom: var(--marginDesktop);
  left: var(--marginDesktop);
}

.mainIndex {
  overflow-x: hidden;
}

.highlightText span {
  font-size: 30px;
  grid-column: 4 / span 6;
  text-align: center;
  margin-bottom: calc(var(--marginDesktop) * 4);
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Disco Index*/

.mainIndex .gridDisco {
  margin-bottom: calc(var(--marginDesktop) * 6);
}

.gridDisco {
  margin-bottom: var(--marginDesktop);
}

.gridDisco h2 {
  grid-column: 1 / span 3;
}

.discoItem {
  grid-column: span 3;
  transition: all 0.5s ease;
}

.discoItem:hover {
  cursor: pointer;
}

.discoItem .p-small {
  margin-top: 0.25rem;
}

.discoItem-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.discoItem-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.discoItem:hover img {
  transform: scale(1.025);
}

.discoItem:hover .discoTitle {
  text-decoration: underline;
}

.mainIndex .discoItem {
  margin-bottom: var(--marginDesktop);
}

.gridDisco .seeMore {
  grid-column: 4 / span 3;
}

.gridDisco .seeMore:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Grid type 1*/
.postMarginTop {
  margin-top: 100px;
}
.grid-type1 {
  margin-bottom: var(--marginDesktop);
}

.grid-type1 .seeMore {
  grid-column: 4 / span 3;
  margin-top: var(--marginDesktop);
  text-decoration: underline;
}

.grid-type1-item {
  grid-column: 4 / span 9;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: calc(var(--marginDesktop));
  position: relative;
}

.grid-type1-img {
  grid-column: 1 / span 9;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: calc(var(--marginDesktop));
  transform: translateY(-50%);
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.grid-type1-img img {
  grid-column: 6 / span 4;
  width: 100%;
}

.grid-type1-description {
  grid-column: 1 / span 2;
  color: var(--grey);
  transition: color 0.5s ease;
  font-family: "neue-haas-grotesk-display", sans-serif !important;
}

.grid-type1-item:hover .grid-type1-description {
  color: var(--black);
}

.grid-type1-item:hover {
  cursor: pointer;
}

.grid-type1-title {
  grid-column: span 6;
}

.grid-type1-title p {
  margin-top: 0.25rem;
}

.grid-type1 .grid-type1-mainTitle {
  grid-column: 1 / span 2;
}

.grid-type1 h2 {
  grid-column: 1 / span 2;
}

.grid-type1-filter {
  margin-top: 1rem;
}

.grid-type1-filter {
  color: var(--grey);
  transition: color 0.5s ease;
  cursor: pointer;
}

.grid-type1-filter .selectedFilter {
  color: var(--black);
}

.grid-type1-filter p:hover {
  color: var(--black);
}

.grid-type1-mainTitle {
  position: absolute;
}

/*Grid type 2*/
.grid-type2-item {
  grid-column: 4 / span 9;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: calc(var(--marginDesktop));
  position: relative;
  cursor: pointer;
}

.grid-type2-title {
  grid-column: span 4;
}

.grid-type2-description {
  grid-column: 6 / span 3;
  color: var(--grey);
  transition: color 0.5 ease;
}

.grid-type2-description p {
  font-size: 16px;
  text-wrap: pretty;
}

.grid-type2-date {
  grid-column: 1 / span 1;
  color: var(--grey);
  transition: color 0.5s ease;
  font-family: "neue-haas-grotesk-display", sans-serif !important;
}

.grid-type2-item:hover .grid-type2-date {
  color: var(--black);
}

.grid-type2-item:hover .grid-type2-description {
  color: var(--black);
}

.grid-type2-item:hover .grid-type2-description {
  color: var(--black);
}

.grid-type2-item:hover .grid-type2-readMore {
  text-decoration: underline;
}

.grid-type2-readMore {
  grid-column: span 1;
}

.grid-type2-readMore p {
  text-align: center;
}

.grid-type2-filter {
  margin-top: 1rem;
}

.grid-type2-filter {
  color: var(--grey);
  transition: color 0.5s ease;
  cursor: pointer;
  position: absolute;
}

.grid-type2-filter .selectedFilter {
  color: var(--black);
}

.grid-type2-filter p:hover {
  color: var(--black);
}

/*Footer*/
footer {
  background-color: var(--black);
  color: var(--bg-color);
  padding: var(--marginDesktop) 0;
  margin-top: 150px;
}

.footerContent {
}

.socialMedia-footer {
  grid-column: 1 / span 2;
}

.store-footer {
  grid-column: 4 / span 2;
}

.rights-footer {
  grid-column: 10 / span 3;
}

main {
  min-height: calc(var(--vh, 1vh) * 100);
}

/*Biografia*/

.infoPage-title {
  grid-column: 1 / span 3;
}

.infoPage-text {
  grid-column: 4 / span 7;
  margin-bottom: calc(var(--marginDesktop) * 4);
}

.infoPage-text span {
  font-size: 25px;
  margin-bottom: var(--marginDesktop);
  text-wrap: pretty;
}

.infoPage-text-p p {
  margin-bottom: 1rem;
  text-wrap: pretty;
}

.cv-text-p p {
  margin-bottom: 0rem !important;
}

.infoPage-text-p:first-child {
  margin: 0 !important;
}

.infoPage-text-p {
  margin-top: 50px;
}

.highlightText-biografia {
  width: 90%;
}

.bio-images {
  margin-bottom: calc(var(--marginDesktop) * 4);
}

#bio-image1 {
  grid-column: 1 / span 6;
  margin-bottom: calc(var(--marginDesktop) * 2);
}

#bio-image2 {
  grid-column: 10 / span 3;
  align-self: flex-end;
}

#bio-image1 img,
#bio-image2 img {
  width: 100%;
}

.bioPages {
  grid-column: 4 / span 7;
}

.bioPages a {
  text-decoration: none;
  color: var(--black);
}

.bioPage {
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
}

.textAuthor {
  margin-top: 1rem;
  text-align: end;
  color: var(--grey);
}

.linkText {
  text-decoration: underline;
  color: var(--black);
  cursor: pointer;
  margin-top: 0 !important;
}

.cvTitle {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem !important;
}

/*Disco*/
.gridDisco-discoPage {
  margin-top: calc(var(--marginDesktop) * 3);
}

.gridDisco-discoPage .discoItem:nth-of-type(3n + 1) {
  grid-column: 4 / span 3;
}

.grid-type1-margin {
  margin-top: calc(var(--marginDesktop) * 8);
  margin-bottom: calc(var(--marginDesktop) * 8);
}

/*Disco-Single*/
.discoSingle-landing {
  height: calc(calc(var(--vh, 1vh) * 100) - 15vh);
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.discoSingle-image {
  height: 60vh;
}

.discoSingle-title {
  text-align: center;
  margin-bottom: 1rem;
}

.discoSingle-externalLinks {
  margin-top: 1rem;
  text-align: center;
}

.discoSingle-arrow {
  width: calc(100% - var(--marginDesktop) * 2);
  display: flex;
  justify-content: space-between;
  margin: 0 var(--marginDesktop);
  position: absolute;
  bottom: var(--marginDesktop);
}

.discoSingle-arrow svg {
  width: 25px;
}

.discoSingle-main {
  margin-top: calc(var(--marginDesktop) * 4);
  margin-bottom: calc(var(--marginDesktop) * 4);
}

.discoSingle-aside {
  grid-column: 1 / span 3;
}

.discoSingle-sinopse {
  grid-column: 4 / span 6;
}

.discoSingle-details {
  margin-top: 2rem;
}

.discoSingle-media {
  margin-bottom: calc(var(--marginDesktop) * 4);
}

.discoSingle-media img {
  grid-column: span 5;
}

.discoSingle-media img:nth-child(odd) {
  grid-column: 4 / span 5;
}

.discoSingle-media img:nth-child(even) {
  grid-column: 8 / span 5;
}

.discoSingle-tracks {
  margin-bottom: 1rem;
}

.discoSingle-trackSingleTitle {
  font-weight: 500;
}

.discoSingle-trackSingle {
  margin-bottom: 1rem;
}

.single-related hr {
  margin-bottom: calc(var(--marginDesktop) / 2);
  grid-column: 1 / span 12;
}

.single-related {
  margin-bottom: calc(var(--marginDesktop) * 4);
}

/*single-1*/
.postCategory {
  grid-column: 12 / span 1;
  width: 100%;
  background-color: var(--black);
  height: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.postCategory p {
  color: var(--bg-color);
}

.singleDate {
  grid-column: 1 / span 3;
}

.singleTitle {
  row-gap: 0;
}

.h1single {
  grid-column: 1 / span 7;
}

.singleSubtitle {
  grid-column: 1 / span 7;
  font-size: 25px;
}

.singleAuthor {
  grid-column: 1 / span 7;
}

.singleContent {
  margin-top: 50px;
}

.singleContent-p {
  row-gap: 0;
}

.singleContent-p {
  grid-column: 1 / span 7;
}

.singleContent-p p {
  font-family: "neue-haas-grotesk-text", sans-serif;
  margin-bottom: 1rem;
}

.contentAuthor {
  color: var(--grey);
  text-align: right;
  margin-top: 1rem;
  font-family: "neue-haas-grotesk-text", sans-serif;
}

.contentMedia {
  row-gap: var(--marginDesktop);
  margin-top: 50px;
}

.contentMedia img:nth-child(odd) {
  grid-column: 1 / span 7;
  width: 100%;
}

.contentMedia img:nth-child(even) {
  grid-column: 6 / span 7;
  width: 100%;
}

.relatedPosts {
  margin-top: 150px;
}

.relatedPosts hr {
  grid-column: 1 / span 12;
  border-bottom: 0.5 solid var(--black);
  margin-bottom: calc(var(--marginDesktop) / 2);
}

.singleContent-asside {
  grid-column: 10 / span 3;
}

.singleContent-asside p {
  font-family: "neue-haas-grotesk-text", sans-serif;
  word-wrap: break-word; /* Ensures long words break to the next line */
  word-break: break-word; /* Breaks text if necessary */
  overflow-wrap: anywhere; /* Provides additional support for text wrapping */
}

/**/
.singleTitle-type2 .h1single {
  grid-column: 1 / span 5;
}

.singleTitle-type2 .singleSubtitle {
  grid-column: 1 / span 5;
  font-size: 25px;
}

.singleTitle-type2 .singleAuthor {
  grid-column: 1 / span 5;
  margin-top: 1rem;
}

.singleContent-type2 {
  margin-top: 1rem;
}

.singleContent-type2 .singleContent-p {
  grid-column: 7 / span 6;
}

.contentMedia-type2 img:nth-child(odd) {
  grid-column: 7 / span 6;
  width: 100%;
}

.contentMedia-type2 img:nth-child(even) {
  grid-column: 7 / span 6;
  width: 100%;
}

@media only screen and (max-width: 960px) {
  p {
    font-size: 17px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: calc(var(--marginMobile) / 2);
    width: calc(100% - calc(var(--marginMobile) * 2));
    margin: 0 var(--marginMobile);
  }

  /*index*/
  .landingTitle {
    bottom: var(--marginMobile);
    left: var(--marginMobile);
  }

  .highlightText span {
    font-size: 22px;
    grid-column: 1 / span 6;
    margin-bottom: 100px;
  }

  .landing span {
    color: var(--bg-color);
    font-size: 60px;
    line-height: 62px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .mainIndex .gridDisco {
    margin-bottom: 100px;
  }
  /*grid Disco*/
  .gridDisco h2 {
    grid-column: 1 / span 6;
    margin-bottom: 20px;
  }

  .mainIndex .discoItem {
    margin-bottom: var(--marginMobile);
  }

  .discoItem {
    grid-column: span 6;
  }

  .gridDisco .seeMore {
    grid-column: 1 / span 6;
    text-align: center;
    text-decoration: underline;
  }

  /*header*/
  .headerLanguage {
    display: none;
  }

  .headerMenu p {
    display: none;
  }

  .headerTitle {
    grid-column: 1 / span 5;
  }

  /*grid 1*/
  .grid-type1-item {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: calc(var(--marginMobile) / 2);
    width: 100%;
  }
  .type1-category {
    display: none;
  }

  .grid-type1 h2 {
    grid-column: 1 / span 6;
    margin-bottom: 20px;
  }

  .grid-type1-item {
    grid-column: 1 / span 6;
    grid-gap: calc(var(--marginMobile));
  }

  .grid-type1-description {
    grid-column: 1 / span 1;
  }

  .grid-type1-title {
    grid-column: span 5;
  }

  .grid-type1-img {
    display: none;
  }

  .grid-type1 .seeMore {
    grid-column: 1 / span 6;
    text-align: center;
    text-decoration: underline;
  }

  /**/
  .socialMedia-footer {
    grid-column: 1 / span 6;
  }

  .store-footer {
    grid-column: 1 / span 6;
  }

  .rights-footer {
    grid-column: 1 / span 6;
  }

  /*menu*/
  .menuHeader {
    margin-top: calc(var(--marginMobile));
  }

  .menuNav-content {
    height: calc(var(--vh, 1vh) * 100);
    font-size: 20px;
    text-transform: uppercase;
    grid-column: 2 / span 5;
    gap: calc(var(--marginMobile));
  }

  .menuLanguage {
    grid-column: 1 / span 6;
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
  }
}
